{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <h1>Atelier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.id }}</td>
                <td>{{ atelier.nom }}</td>
                <td>{{ atelier.description }}</td>
                <td>
                    <a href="{{ path('app_atelier_show', {'id': atelier.id}) }}">show</a>
                    <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atelier_new') }}">Create new</a>
{% endblock %}
