{% extends 'base.html.twig' %}

{% block title %}Mes inscriptions index{% endblock %}

{% block body %}
    <h1>Mes inscriptions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.atelier.id }}</td>
                <td>{{ inscription.atelier.nom }}</td>
                <td>{{ inscription.atelier.description }}</td>
                <td>
                    <a href="{{ path('app_atelier_show', {'id': inscription.atelier.id}) }}">show</a>
                    <a href="{{ path('desinscrire', {'id': inscription.atelier.id}) }}">Desinscrire</a>
                    
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 0}) }}">Noter 0</a>
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 1}) }}">Noter 1</a>
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 2}) }}">Noter 2</a>
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 3}) }}">Noter 3</a>
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 4}) }}">Noter 4</a>
                    <a href="{{ path('note', {'id': inscription.atelier.id, 'n': 5}) }}">Noter 5</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atelier_index') }}">Tout les ateliers</a>
{% endblock %}
